.body{
    color: #f8f8f8;
}

.topnav{
    background-color: #613182;
    overflow: hidden;
    display: flex; /*För att få det centrerat*/
    justify-content: flex-start;/*För att få det ill vänster (loggan + meny)*/
    align-items: center;/*För att få det centrerat*/
    height: 200px;

}

/* För att styla länkarna i menyn */
.topnav a {
    display: flex; /*innan var det float: left*/
    align-items: center;/*För att få det centrerat*/
    line-height: 60px;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: large;
}

/* För när man håller över texten */
.topnav a:hover {
    background-color: #ddd;
    color: #081116;
}

/* För när man har tryckt på den blir den aktiv*/
.topnav a:active {
    background-color: #50468C;
    color: #8db5cd;
}
.topnav .logo {
    /*height: 150px; Storleken på logotypen*/
    margin-right: 50px; /*Avståndet mellan logotypen och menyn*/
    display: flex;
    align-items: center;
  }

.topnav .logo img{
    height: 100%; /*Storleken på logotypen*/
    width: auto;
    display: block;

  }




/* För hamburgarmenyikonen */
.topnav .icon {
    display: none;
    margin-left: auto; /*För att få hamburgarmenyikonen till höger*/
}

/* För mobilskärm döljs allt förutom Hem och staplas på varandra*/ 
@media screen and (max-width: 600px) {
  .topnav {
    justify-content: flex-start; /*För att få loggan till vänster på mobil*/
  } 
  
  .topnav a:not(:first-child) {display: none;}
   .topnav a.icon {
     float: none;
     margin-left: auto;
     display: block;
     position: static;
   }
 }

 /* Visar menyn vertikal istället för horisontell när användaren tycker på hamburgarmenyikonen*/
 @media screen and (max-width: 600px) {
   .topnav.responsive {position: relative;}
   .topnav.responsive a.icon {
     margin-left: auto;
     position: static;
   }
   .topnav.responsive a {
     display: block;
     text-align: left;
   }
 }
