* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 0px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
}

.navbar{
    /*background: rgba(136, 221, 255, 0.917);*/
    background: linear-gradient(to bottom, #9fdff2, #203ec3);

    height: 80px;
    display: flex; /* Gör navbaren till en flexbox */
    justify-content: center;/* Horisontellt centrera innehållet */
    align-items: center; /* Vertikalt centrera innehållet */
    position: sticky; /* Gör så att navbaren följer med under scrollning*/
    font-size: large;
    top:0; /* Placera den längst upp (används tillsammans med sticky)*/
    z-index: 999; /* För att se till att den alltid är längs upp */
}

.navbar_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px; 
    margin: 0 auto;
    padding: 0 50px;
}   

#navbar_logo{
    /*background-color: rgb(9, 4, 82);
    background-image: linear-gradient(to top, #203ec3 0%, #9fdff2ba 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;*/
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    cursor:pointer;
    font-size: 3rem;
}
.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item{
    height: 80px;
}

.navbar_links{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 100%;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.navbar_links:hover{
    color: white;
    transition: all 0.2s ease-in-out;
}


@media screen and (max-width: 960px){
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 20px;
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .navbar_menu.active{
        background: rgba(19, 169, 229, 0.917);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar_logo{
        padding-left: 25px;
    }

    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease;
        background-color: black;
    }

    .navbar_item{
        width: 100%;
    }

    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile_menu{
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }
}