body{
    background-color: #f8f8f8;
    font-family: "Lato", "Inter", sans-serif;
  }

h1, h2, h3, p {
    text-align: center;
    color: #081116;
    } 

.topnav{
    background-color: #613182;
    overflow: hidden;
    display: flex; /* För att få det centrerat */
    justify-content: flex-start;/* För att få det ill vänster (loggan + meny) */
    align-items: center;/* För att få det centrerat */
    height: 100px;

}

/* För att styla länkarna i menyn */
.topnav a {
    display: flex; /* Innan var det float: left */
    align-items: center;/*För att få det centrerat*/
    line-height: 60px;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: large;
}

/* För när man håller över texten */
.topnav a:hover {
    color: #081116;
}

/* För när man har tryckt på den blir den aktiv*/
.topnav a:active {
    background-color: #50468C;
}
.topnav .logo {
    height: 90px; 
    margin-right: 50px; /* Avståndet mellan logotypen och menyn */
    display: flex;
    align-items: center;
  }

.topnav .logo img{
    height: 100%;
    width: auto;
    display: block;

  }

/* För hamburgarmenyikonen */
.topnav .icon {
    display: none;
    margin-left: auto; /*För att få hamburgarmenyikonen till höger*/
    cursor: pointer;
}


/* För Grid layout för innehållet på sidan */
.gridContainer  {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Så att hem och Om mig kommer brevid varandra */
    gap: 60px; /* Avstånd mellan korten */
    padding: 32px;
    justify-items: stretch;/* Gör så att gird item fyller hela containern */
}
/* Stil för varje grid item dvs, de ljuslila */
.grid-item {
    width: 100%;
    padding: 20px;
    background-color: rgb(226, 231, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    }

  .item1{
    grid-row: 1;
    grid-column: 1;
  }

  .item2{
    grid-row: 1;
    grid-column: 2;
  }

  .item3{
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  /* Stil för projekten */
  .project-list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px; /* Avstånd mellan de olika projekten */
    padding: 20px;
    width: 100%;
  }

  .project{
    display : flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
  }

  .project img{
    width: 100%;
    max-width: none;
    height: 500px;
    object-fit: contain;
  }

  a {
    text-decoration: none;
    padding: 1rem;
    }
  a:hover {
    background-color: #a582e8;
    }
  .button-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    }

.project-link-button {
  color:#081116;
  background-color: #c4adf0;
  border-radius: 10px;
  }
  /*.project a {
    margin-top: 10px;
    text-decoration: none;
    color: #00458e;
}*/

/* Fixa för knappen */
/* ........... */

/* För mobilskärm döljs allt förutom Hem och staplas på varandra*/ 
@media screen and (max-width: 600px) {
  
  .topnav {
    height: 100px;
    flex-wrap: wrap; /* Gör så att innehållet kan brytas till nästa rad */
  }

  .topnav a:not(:last-child) {
    display: none;
  }
  
  .topnav .icon {
     display: block;
     margin-left: right;
   }

  .topnav.responsive {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
 }
 
 .topnav.responsive .logo-container {
    margin-bottom: 0;
  }

  .topnav.responsive a {
    display: block;
    width: 100%;
    text-align: left;
    background: #613182;
  }

  /*Denna behövs för att alltid visa menyikonen även om den är öppen*/
  .topnav.responsive .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    background: none;
    border: none;
  }

  /* Visar alla meny länkar utom den sista som är ikonen */
  .topnav.responsive a:not(:last-child) {
    display: block;
  }

  .gridContainer {
    grid-template-columns: 1fr; /* En kolumn på mobil */
  }

  .item1, .item2, .item3 {
    grid-column: 1; /* Alla objekt tar upp hela raden */
  }

  .project img{
    width: 100%;
    max-width: 320px;
    height: auto;
  }
}
