.body{
    color: #f8f8f8;
}

.topnav{
    background-color: #613182;
    overflow: hidden;
    display: flex; /*För att få det centrerat*/
    justify-content: flex-start;/*För att få det ill vänster (loggan + meny)*/
    align-items: center;/*För att få det centrerat*/
    height: 100px;

}

/* För att styla länkarna i menyn */
.topnav a {
    display: flex; /*innan var det float: left*/
    align-items: center;/*För att få det centrerat*/
    line-height: 60px;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: large;
}

/* För när man håller över texten */
.topnav a:hover {
    /*background-color: #50468C; Behövs inte*/
    color: #081116;
}

/* För när man har tryckt på den blir den aktiv*/
.topnav a:active {
    background-color: #50468C;
    /*color: #8db5cd;*/
}
.topnav .logo {
    height: 90px; /*Storleken på logotypen*/
    margin-right: 50px; /*Avståndet mellan logotypen och menyn*/
    display: flex;
    align-items: center;
  }

.topnav .logo img{
    height: 100%; /*Storleken på logotypen*/
    width: auto;
    display: block;

  }

/* För hamburgarmenyikonen */
.topnav .icon {
    display: none;
    margin-left: auto; /*För att få hamburgarmenyikonen till höger*/
    cursor: pointer;
}


/* För mobilskärm döljs allt förutom Hem och staplas på varandra*/ 
@media screen and (max-width: 600px) {
  
  .topnav {
    height: 100px;
    flex-wrap: wrap; /* Gör så att innehållet kan brytas till nästa rad */
  }

  .topnav a:not(:last-child) {
    display: none;
  }
  
  .topnav .icon {
     display: block;
     margin-left: right;
   }

  .topnav.responsive {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
 }
 
 .topnav.responsive .logo-container {
    margin-bottom: 0;
  }

  .topnav.responsive a {
    display: block;
    width: 100%;
    text-align: left;
    background: #613182;
  }

  /*Denna behövs för att alltid visa menyikonen även om den är öppen*/
  .topnav.responsive .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    background: none;
    border: none;
  }
  /*Visar alla meny länkar utom den sista som är ikonen*/
  .topnav.responsive a:not(:last-child) {
    display: block;
  }
}
